<!-- On affiche simplement un formulaire pour créer un compte
-->

<div>
	<br>
	<mat-card>
		<section class = 'mat-typography'>
			<h3>Subscribe</h3>
		</section>
		<mat-divider></mat-divider>
		<br>
		<form [formGroup] = "createForm" class = "create-form">
			<mat-form-field class = 'field-full-width'>
				<input matInput placeholder="Name" formControlName="username" #username>
			</mat-form-field>
			<mat-form-field class = 'field-full-width'>
				<input matInput placeholder="password" formControlName="password" #password>
			</mat-form-field>
			<br><br>
			<button mat-raised-button color = 'accent' routerLink= "/superadmin">Back</button>&nbsp;
			<button type = "submit" (click) = "subscribe(username.value,password.value)"  mat-raised-button color = "primary" [disabled] = "createForm.pristine || createForm.invalid">Créer le nouveau compte</button>
		</form>
	</mat-card>
</div>
