<!-- On affiche simplement un formulaire pour s'identifier
-->

<div>
	<br>
	<mat-card>
		<section class = 'mat-typography'>
			<h3>Login</h3>
		</section>
		<mat-divider></mat-divider>
		<br>
		<form [formGroup] = "createForm" class = "edit-form">
			<mat-form-field class = 'field-full-width'>
				<input matInput placeholder="Name" formControlName="username" #username>
			</mat-form-field>
			<mat-form-field class = 'field-full-width'>
				<input matInput placeholder="password" formControlName="password" #password>
			</mat-form-field>
			<br><br>
			<button mat-raised-button color = 'accent' routerLink= "/subscribe">S'enregistrer</button>&nbsp;
			<button type = "submit" (click) = "connect(username.value,password.value)" [disabled] = "createForm.pristine || createForm.invalid" mat-raised-button color = "primary">log in</button>
		</form>
	</mat-card>
</div>
